body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #006D77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #62808b;
}

.form {
  display: inline-flex;
  float: left;
  width: 55%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid red;
}

aside {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#my-email-address {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

aside img{
  width:80%;
  margin: auto;
}

/* Large Tablets */
@media screen and (max-width: 1000px) {

}

/* Medium/small Tablets */
@media screen and (max-width: 800px) {
  
  main {
    width: 98%;
  }

  .form{
    width: 100%;
    margin: 5px;
  }
  
  aside {
    width: 60%;
    margin: 10px auto;
  }
}

/* Smartphones */
@media screen and (max-width: 550px) {

}

